{% extends "base.html" %} 
{% block title %} services {% endblock title %} 
{% comment %}
  <h1>Welcome ladies and gentlemen this is the comment</h1>
{% endcomment %}
{%block des %} 
<div class="container">
  <form class="row g-3" method="post" action="/services/">
    {% csrf_token %}
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name = "email" />
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name ="password" />
    </div>
    <div class="col-md-6">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="city" name = "city" />
    </div>
    <div class="col-md-2">
      <label for="zipp" class="form-label">Zip</label>
      <input type="text" class="form-control" id="zipp" name = "zipp" />
    </div>
    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  </form>
</div>
{% endblock des %}
